.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-modal-content {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-radius: 3em;
  padding: 3em;
  outline: 0;
  width: 50vw;
  height: 50vh;
}
.movie-right-region {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28vw;
  font-size: 14px;
}
.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-details > * {
  padding-bottom: 2vh;
}
.synopsis{
  font-size: large;
}
.action-buttons{
  display: flex;
  flex-direction: row;
}
.action-buttons > *{
  margin-right: 2vw;
}
.imdb-button{
  background-color: #f5c518 !important;/*imdb color*/
}
.back-button{
  width: 14vw;
}
.movie-left-region {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
}
.movie-large-image {
  height: -webkit-fill-available;
}

